* {
  position: relative;
  color: #fff;
  font-family: Helvetica;
}
#root,
html {
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 98vw;
}
